.App {
  text-align: center;
}
.App-all{
  font-family: 'Times New Roman', Times, serif;
}
.left-App{
  background-image: url('./undraw_Tree_swing_646s.png');
  background-size: 650px 650px;
  width: 700px;
  height: 700px;
  text-align: center;
}
.mainApp{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* pentru laborator */
.layout{
  font-family: Futura PT;
}
.content {
  padding: 18.75vw;
  /* font-family: Futura PT; */
}

.counter{
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
  text-align: center;
}

a {
  color: darkblue;
}
a:hover {
   color:cadetblue;
}

.show-text{
  border-style: none none solid none;
  border-color: olivedrab;
  padding:20px;
  border-width:3;
  background-color: white;
}
.keep-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  margin:100px
}

button{
  background-color: wheat;
  border: none;
  color: darkblue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.keep-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align:center;
  font-weight: bolder;
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
}
.page{
  background-color: wheat;
}
.keep-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#daisy-button{
  background-image: url('./daisy.png');
  height: 200px;
  width: 220px;
}
#daisy-button1{
  background-image: url('./daisy1.png');
  height: 180px;
  width: 200px;
}
#daisy-button2{
  background-image: url('./daisy2.png');
  height: 160px;
  width: 180px;
}
#daisy-button3{
  background-image: url('./daisy3.png');
  height: 140px;
  width: 160px;
}
#whitepage{
  height: 200px;
  width: 220px;
  background-color: white;
}
.counter-number{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
  padding: 20px;
  font-size: 30px;
}
.counter-buttons{
  padding: 50px;
}



.footer {
  background-color: #4B4B4B;
  color:#FFFFFF;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.banner{
  position: relative;
  text-align: center;
  color: rgb(15, 4, 4);
  height: 30vh;
}
.banner img{
  height: 30vh;
  width:100%;
}

.banner-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
  font-size: 500%;
  border-radius: 10px;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,.16);
  background-color: rgba(255, 255, 255, 0.234);
}

#cats{
  
  border-radius: 10px;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,.16);
  background-color: rgba(255, 255, 255, 0.234);
}

#button1{
  background-color: rgb(25, 25, 146);
}
#button2{
  background-color: rgb(69, 69, 165);
}
#button3{
  background-color: rgb(39, 39, 97);
}
.booksandauthors{
  background-color: #4B4B4B;
  color:#FFFFFF;
  padding: 20px;
}
.butoanebooksauthors{
  text-align: center;
}
.forms{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login-left{
  background-image: url('./undraw_sweet_home_dkhr.png');
  background-size: 650px 650px;
  width: 700px;
  height: 700px;
  text-align: center;
}
.forms-rigt{
  text-align: center;
  display: flex;
  justify-content: center;
}

.register-left{
  background-image: url('./undraw_adventure_map_hnin.png');
  background-size: 650px 650px;
  width: 700px;
  height: 700px;
  text-align: center;
}
.front-page{
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  padding: 100px;
}
#authvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.video-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkblue;
}
